---
---

@import "{{ site.theme }}";

.TSE:before{
    background: url("https://github.com/antoine-jacquet/antoine-jacquet.github.io/blob/main/assets/images/TSEicon.png");
    height: 20px;
    width: 20px;
    display: block;
    /* Other styles here */
}

.TSEicon .path1:before {
  content: url("https://github.com/antoine-jacquet/antoine-jacquet.github.io/blob/main/assets/images/TSEicon.png");
  color: #444;
}
.TSEicon .path2:before {
  content: url("https://github.com/antoine-jacquet/antoine-jacquet.github.io/blob/main/assets/images/TSEicon.png");
  color: #fff;
  margin-left: -1em;
}
