@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4s17gh');
  src:  url('../fonts/icomoon.eot?4s17gh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4s17gh') format('truetype'),
    url('../fonts/icomoon.woff?4s17gh') format('woff'),
    url('../fonts/icomoon.svg?4s17gh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

.icon-TSElogo .path1:before {
  content: "\e900";
  color: rgb(68, 68, 68);
}
.icon-TSElogo .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
