---
---

@import "{{ site.theme }}";

.TSElogo1 {
  display: block;
  text-indent: 0px;
  width: 100px;
  height: 82px;
  background: url(/assets/images/TSElogo.svg);
  background-size: 100px 82px;
}

.TSElogo2 {
  display: block;
  text-indent: 0px;
  width: 100px;
  height: 82px;
  background: url(../../images/TSElogo.svg);
  background-size: 100px 82px;
}

@import "style-icomoon.css";
